body{
    font-family: "Montserrat", sans-serif;
}

#title{
    background-color: #ff4c68;
    color: white;
    padding: 0% 10% 0% 3%;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-black", sans-serif;
}

h1{
    font-size: 3.5rem;
    font-weight: bolder;
}

h2{
    font-size: 1.5rem;
    padding: 0 15% 0 15%;
}

h3{
    font-size: 1.5rem;
    font-weight: bolder;
}


.container-fluid{
    padding: 3% 10% 7% ;
}

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{}

.download-button{
    margin: 5% 3% 5% 0;
    padding: 20px auto;
    text-align: center;
}

.homePage-Img{
    width: 35%;
    transform: rotate(25deg);
    position: absolute;
}

#features{
    padding: 20%;
    background-color: beige;
    position: relative;
}

.second-section{
    font-family: 'Montserrat-bold';
    text-align: center;
}

p{
    color: #8f8f8f;
}
.img-icon{
    color: #ef8172;
    margin: 0 0 1rem 0 ;
}
.img-icon:hover{
    color: #ff4c68;
}

#testimonials{
    padding: 10% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-img{
    border-radius: 100%;
    width: 10%;
    margin: 70px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3% ;
}

.press-image{
    width: 15%;
    margin: 20px 20px 15px
}
.Pricing-card{
    text-align: center;

}
.pricing-button:hover{
    color: black;
    background-color: white;
}
.pricing-button{
    color: white;
}

#pricing{
    padding: 100px;
}

.pricing-container{
    padding: 3% 2%;
}

@media(max-width:1080px){

    .homePage-Img{
        width: 35%;
        transform: rotate(0deg);
        position: static;
    }

    #title{
        text-align: center;
    }
}

#cta{
    background-color: #ff4c68;
    padding: 20%;
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 10.6rem;
}


/* Footer section */
#footer{
    background-color: whitesmoke;
    padding: 5%;
    text-align: center;
}
.social-icons{
    margin: 10px 15px;
}